<?php

$config['mailchimp_api'] = 'mailchimpapikey-us1';
$config['mailchimp_list'] = 'listid0123';

$config['google_analytics_id'] = 'ABC123';
$config['mixpanel_id'] = 'ABC123';

$config['aws_s3_access_key'] = '';
$config['aws_s3_secret_key'] = '';
$config['aws_s3_bucket'] = '';
$config['aws_s3_public'] = 'http://lockbox.seatsha.re';